@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

:root {
  --color-primary: #4D41C0;
  --toastify-icon-color-success: var(--color-primary) !important;
}

* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

html, body {
    background-color: #E8E8E8;
}

a, a:hover {
  text-decoration: none;
  color: unset;
}

.Toastify__progress-bar--animated {
  background: var(--color-primary) !important;
}